extends layouts/mainlayout

block styles 
     link(rel='stylesheet', href='/css/form.css')
     link(rel='stylesheet', href='/css/product.css')

block content
     main
          form.product-form(action="/admin/add-product", method="POST")
               .form-control
                    label(for="title") Title
                    input(type="text", name="title")#title
               button.btn(type="submit") Add Product