<header>
    <style>
        button.number{
            height:30px;
            width:30px;
        }

        button.single_size_command{
            height:30px;
            width:30px;
            font-weight: 600;
            cursor: pointer;
        }

        button.double_size_command{
            height:30px;
            width:60px;
            font-weight: 600;
            cursor: pointer;
        }

        table, th, td {
            border: 8px solid white;
            border-collapse: collapse;
        }
 <!--
        input {
           text-align: right;
           width:140px;
           font-size: 16px;
           font-weight: 400;
        }
 !>

    </style>
</header>

<body>
<html>
<h1>-</h1>

<!-- <input type="text" style="color:#{{color2}};" value = {{cur}}> -->
<pre><input type="text" style="width:150pt" value = {{cur}}>     {{isMemory}}   {{isError}}</pre>
<br><br>

<table>
    <tr>
      <th><button class="number" type="button" (click)="clicked1()">1</button></th>
      <th><button class="number" type="button" (click)="clicked2()">2</button></th>
      <th><button class="number" type="button" (click)="clicked3()">3</button></th>
      <td></td><td></td>
      <td><button class="single_size_command" type="button" (click)="clickedC()">C</button></td>
      <td><button class="single_size_command" type="button" (click)="clickedCe()">CE</button></td>
      <td></td>
      <td><button class="single_size_command" type="button" (click)="clickedMPlus()">M+</button></td>
      <td><button class="single_size_command" type="button" (click)="clickedMRecall()">RM</button></td>
      <td><button class="single_size_command" type="button" (click)="clickedMClear()">MC</button></td>
    </tr>
    <tr>
      <td><button class="number" type="button" (click)="clicked4()">4</button></td>
      <td><button class="number" type="button" (click)="clicked5()">5</button></td>
      <td><button class="number" type="button" (click)="clicked6()">6</button></td>
      <td></td><td></td>

      <td><button class="single_size_command" type="button" (click)="clickedPlus()">+</button></td>
      <td><button class="single_size_command" type="button" (click)="clickedMultiple()">*</button></td>
      <td><button class="single_size_command" type="button" (click)="clickedMinus()">-</button></td>
      <td><button class="single_size_command" type="button" (click)="clickedPer()">/</button></td>

      <td><button class="single_size_command" type="button" (click)="clickedSquared2()">x²</button></td>
      <td><button class="single_size_command" type="button" (click)="clickedSquareRoot2()">√x</button></td>

    </tr>
    <tr>
      <td><button class="number" type="button" (click)="clicked7()">7</button></td>
      <td><button class="number" type="button" (click)="clicked8()">8</button></td>
      <td><button class="number" type="button" (click)="clicked9()">9</button></td>
      <td></td><td></td>

      <td style="width:50pt" colspan="2"><button class="single_size_command" style="width:100%;" type="button" (click)="clickedSin()">Sin(x)</button></td>
      <td style="width:50pt" colspan="2"><button class="single_size_command" style="width:100%;" type="button" (click)="clickedCos()">Cos(x)</button></td>
      <td style="width:50pt" colspan="2"><button class="single_size_command" style="width:100%;" type="button" (click)="clickedTg()">Tan(x)</button></td>
      <td style="width:50pt" colspan="2"><button class="single_size_command" style="width:100%;" type="button" (click)="clickedCtg()">Ctg(x)</button></td>

    </tr>
    <tr>
        <td><button class="number" type="button" (click)="clicked0()">0</button></td>
        <td><button class="number" type="button" (click)="clickedNegative()">+-</button></td>
        <td><button class="number" type="button" (click)="clickedPoint()">.</button></td>
        <td></td><td></td>

        <td colspan="4"><button class="double_size_command" style="width:100%;" type="button" (click)="clickedEqual()">=</button></td>
      </tr>
</table>

<!--Current value: {{cur}} -->
</html>
</body>
