<html>
<head>
     
</head>
<body>
     <h1><%= title %></h1>
     <form method="post" action="/add-user">
          <input type="text" name="user">
          <button type="submit">Add User</button>
     </form>
</body>
</html>