<h1><%= title %> </h1>

<div>List of users:
     <ul>
          <% if (users.length>0 ) { for (user of users){ %>
          <li>Username: <%= user.user %></li>
          <% }} else { "Users not found" } %>
     </ul>
</div>
