.single-ticket {
  width: 90%;
  margin: auto;
  text-align: left;
  color: #3b0062;
}

.single-ticket h2 {
  font-size: 1rem;
  color: #464646;
  padding-bottom: 1rem;
  border-bottom: 2px solid #464646;
}

@media (min-width: 768px) {
  .single-ticket {
    width: 40rem;
  }
}
